body{
    margin: 0;
    font: 500 normal 16px/21px 'Poppins', sans-serif;
    color: #2B2730;
}
ul{
    list-style-type: none;
    padding-left: 0px;
}
a{
    text-decoration: none;
    color: black;
}
button{
    border: 0;
    border-radius: 100px;
    background-color: #2B2730;
    color: white;
    cursor: pointer;
    height: 35px;
    width: 95px;
}
section{
    max-width: 1240px;
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
}
.navbar-left{
    display: flex;
    gap: 40px;
    align-items: center;
}
.navbar-left-menu ul{
    display: flex;
    gap: 24px;
    padding-inline-start: 0;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.banner{
    width: 1220px;
    height: 1049.654px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 100px;
}
.banner-row-1{
    display: flex;
    justify-content: space-between;
}
.banner-row-1 h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 80px;
    margin: 0px;
}
span.yellow{
    color: #FFB84C;;
}
.team-image-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.team{
    background-color: #2B2730;
    display: flex;
    flex-direction: column;
    gap: 116px;
    padding: 100px 0px;
}
.team h1{
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -1.6px;
    color: #FFF;
}
.team h4{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
}
.team-col{
    display: flex;
    justify-content: space-between;
}
.team .row-left{
    display: flex;
    gap: 32px;
}
.team .row-left .col{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.team .row-left .col h3{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
}
.team .row-left .col h4{
    font-weight: 400;
}
.team .row-right{
    display: flex;
    gap: 16px;
    align-items: center;
}
.team .row-right .col h4{
    font-weight: 500;
}
.features{
    display: flex;
    /* gap: 30px; */
    justify-content: space-between;
    padding: 100px;
}
.features .col{
    display: flex;
    gap: 24px;
}
.features-col-1{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
#features-btn{
    padding: 16px 32px;
    height: 50px;
    width: 175px;
    display: flex;
    align-items: center;
}
.features-col-1 h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1.4px;
}
.features-col-1 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.4px;
}
.features-col-2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 34px;
    row-gap: 32px;
}
.features-col-2 .grid h5{
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
}
.features-col-2 .grid p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.cta{
    background-color: #2B2730;
    height: 188px;
    border-radius: 32px;
    padding: 116px 0px;
    color: white;
    text-align: center;
}
#cta-btn{
    background-color: #FFB84C;
    color: #2B2730;
    height: 48px;
    width: 170px;
}
.cta h3{
    font-size: 56px;
    font-weight: 700;
}
.cta p{
    font-size: 16px;
    font-weight: 400;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}
.footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.footer .social-media{
    display: flex;
    gap: 15px;
}
.footer .row{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 32px;
}
.footer .row .list ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}